# Default ignored files
.idea
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BackendTemplate.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.vs/
.vs/FleetTech/
.vs/FleetTech/FileContentIndex/
.vs/FleetTech/v17/
.vs/FleetTech/config/
.vs/FleetTech/DesignTimeBuild/
.vs/ProjectEvaluation/
FleetTechAPI/bin/
FleetTechAPI/obj/
FleetTechCore/bin/
FleetTechCore/obj/
*.v2
FleetTechAPI/obj
.vs
FleetTechAPI/bin
FleetTechAPI/obj
FleetTechCore/bin
FleetTechCore/obj
