# Default ignored files
.idea
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BackendTemplate.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.vs/FleetTech/DesignTimeBuild
.vs/
*.v2
FleetTechAPI/obj
FleetTechAPI/obj
.vs
.vs
FleetTechAPI/obj
.vs
FleetTechAPI/bin
FleetTechCore/bin
FleetTechCore/obj
FleetTechAPI/fleetTech.db
FleetTechAPI/fleetTech.db-shm
FleetTechAPI/fleetTech.db-wal
